# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm / VS Code
.idea/
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.temp
